@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary-01: #10214a;
    --color-primary-02: #163a4a;
    --color-primary-03: #d9bf71;
    --color-primary-04: #172531;
    --color-neutral-01: #D0C3BA;
}

/* estilos globais */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #172531e6;
    width: 100vw !important;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    min-width: 360px;
    margin: 0 auto;
}
h1 {
    font-size: clamp(1.7rem, 4vw, 2rem);
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary-03);
    transition: all 0.3s ease-in-out;
}

.flex {
    display: flex;
}

.titulo-secao {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}

strong {
    font-weight: 700;
    color: var(--color-primary-03);
}

/* CABEÇALHO */
header {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--color-primary-04);
}
.header {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary-03);
    padding: 5px 4%;
    border-radius: 0 0 15px 15px;
}

i {
    font-size: 1.8rem;
}

.btn-mobile {
    background: none;
    border: none;
    color: var(--color-primary-03);
    font-size: 36px;
    cursor: pointer;
}

.navbar {
    flex-direction: column;
}

.nav-menu {
    background-color: var(--color-primary-04);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    width: 100%;
    position: relative;
    top: 80px;
    left: 0;
    padding: 1rem;
    padding-top: 100px;
    z-index: 9999;
}

.open {
    position: absolute;
    z-index: auto;
    top: 60px;
    left: 0;
    padding-top: 2.5rem;
    display: flex;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 14px 15px rgba(12, 12, 12, 0.50);
    animation: menu-open 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes menu-open {
  0% {
    transform: scaleY(0.3);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}
.menu-item:hover {
    background-color: var(--color-primary-03);
    
    & a {
        color: var(--color-primary-04);
    }
}

.logo {
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

.logo img {
    width: 45px;
    height: auto;
}

/* HERO */
.hero {
    position: relative;
    top: 60px;
    z-index: 2;
    width: 100%;
    margin-top: -10px;
    background-color: var(--color-primary-04);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px 4% 40px 4%;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
}
.hero-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.hero-conteudo {
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 30px;
}

h1.titulo {
    line-height: 2.5rem;
    color: var(--color-primary-03);
    text-align: left;
    width: 360px;
}
.descricao-hero {
    flex-direction: column;
    width: 400px;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    color: var(--color-neutral-01);
    text-align: left;
    line-height: 1.5rem;
    gap: 15px;

    & strong {
        color: var(--color-neutral-01);
    }
}

.btn {
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: var(--color-primary-03);
    color: var(--color-primary-04);
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(0.8);
        transform: translateY(-3px);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
}

.image-escritorio {
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    width: clamp(350px, 40vw, 550px);
    height: auto;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));

    &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
    }
}

/* SOBRE O ESCRITORIO */

.sobre {
    position: relative;
    top: -10px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--color-primary-03);
    padding: 80px 4% 60px 4%;
}
.titulo-sobre {
    color: var(--color-primary-04);
    margin: 40px 0;
    text-align: center;
}

.sobre-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.sobre-imagem {
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
    width: clamp(350px, 40vw, 550px);
    height: auto;
    
    &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
    }
}

.sobre-conteudo {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sobre-titulo {
    font-size: 1.7rem;
    line-height: 30px;
    width: 360px;
    color: var(--color-primary-04);
    margin-bottom: 20px;
    filter: drop-shadow 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.descricao-sobre {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-04);
    gap: 15px;
}
.qualidades {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.itens {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-02);
    border-radius: 30px;
    color: var(--color-neutral-01);
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    gap: 15px;

    & i {
        font-size: 1.2rem;
    }
}


/* EQUIPE */    
.equipe {
    position: relative;
    top: -40px;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--color-primary-04);
    border-radius: 30px 30px 0 0;
    padding: 40px 4% 60px 4%;
    margin-bottom: -40px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.20);
}
.titulo-equipe {
    color: var(--color-primary-03);
}

.equipe-conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.equipe-conteudo h3 {
    color: var(--color-primary-03);
    font-size: 1.5rem;
    font-weight: 700;
}
.equipe-conteudo p {
    color: var(--color-neutral-01);
    font-size: 1rem;
    font-weight: 500;
}

.equipe .btn {
    background-color: transparent;
    border: 2px solid var(--color-primary-03);
    padding: 0.8rem;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary-03);

    &:hover {
        background-color: var(--color-primary-03);
        color: var(--color-primary-04);
        transform: translateY(-3px);
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    }
}
.equipe-imagem {
    max-width: 1200px;
    margin: 30px auto 0 auto;
}
.grid-equipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 300px;
}
.grid-imagen {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.grid-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.4s ease;
}
.grid-imagen img:hover {
    transform: scale(1.05);
}
.grid-imagen:nth-child(1) {
    grid-row: span 2;
    grid-column: span 1;
}

.equipe-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* SECAO DE ATUACOES */

.atuacoes {
    position: relative;
    background-color: var(--color-primary-03);
    padding: 40px 4% 40px 4%;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.atuacoes h2 {
    color: var(--color-primary-04);
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    justify-items: center;
}

.card {
    background-color: var(--color-primary-02);
    width: 260px;
    height: 330px;
    padding: 10px 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 30px 0 30px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    gap: 0.5rem 2rem;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    }

    & i {
        font-size: 2.5rem;
        color: var(--color-neutral-01);
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    }
}

.titulo-card {
    color: var(--color-primary-03);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: 1.4px;
    margin-top: 10px;
}

.descricao-card {
    color: var(--color-neutral-01);
    text-align: center;
    line-height: 1.2rem;
}

/* SECAO DE CONTATO */

.contato {
    background-color: var(--color-primary-04);
    padding: 40px 4% 60px 4%;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contato h2 {
    color: var(--color-primary-03);
    margin-bottom: 30px;
}

.contato-conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-neutral-01);
    gap: 30px;
}

.contato-info {
    flex-direction: column;
    padding: 0 5px;
    margin-bottom: 100px;
    gap: 40px;
}

.lista-contato {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.card-contato {
    background-color: var(--color-primary-02);
    color: var(--color-neutral-01);
    padding: 6%;
    flex-direction: row;
        flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    gap: 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.20);
    }
}
.card-contato i {
    font-size: 2.5rem;
}

.card-contato div {
    flex-direction: column;
    gap: 7px;
}

.form-contato {
        border: 2px solid #d9bf716d;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.327);
        border-radius: 20px;
        padding:5% 10px 15px 10px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        color: var(--color-primary-03);
        margin: 15px 0 25px 0;
}

form {
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

input {
    background-color: var(--color-primary-02);
    color: var(--color-neutral-01);
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    width: 100%;
}

.nome-sobrenome {
    flex-direction: row;
    gap: 20px;
}
.nome, .sobrenome {
    width: 100%;
}

textarea {
    background-color: var(--color-primary-02);
    color: var(--color-neutral-01);
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    width: 100%;
    height: 100px;
    resize: none;
}

.btn-form i {
    font-size: 1.5rem;
}

.btn-form {
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: transparent;
    color: var(--color-primary-03);
    border: 2px solid var(--color-primary-03);
    padding: 0.8rem 2rem;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: var(--color-primary-03);
        color: var(--color-primary-04);
        transform: translateY(-3px);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
}

/* SECAO FOOTER */

.footer {
    background-color: var(--color-primary-02);
    padding: 40px 4% 10px 4%;
    width: 100%;
    height: auto;
}
.footer-container {
    width: 100%;
    margin: 0 auto;
}

.footer-conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    color: var(--color-neutral-01);
    margin-top: 30px;
}

.footer-info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    letter-spacing: 1px;

    & li {
        font-size: 0.9rem;
        text-align: left;
        font-weight: 500;
        width: 200px;
    }
}
.footer-info h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-logo img {
    width: 200px;
    margin-bottom: 15px;
}

.footer-info p {
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 600;
    width: 200px;

}
.footer-info strong, a {
    color: var(--color-primary-03);
    font-weight: 700;
}

.footer-copy {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: var(--color-neutral-01);
    margin-top: 30px;
    border-top: 1px solid var(--color-primary-03);
    padding-top: 20px;
    width: 100%;
    font-size: 0.9rem;
}

.footer-copy a {
    color: var(--color-neutral-01);
    font-weight: 700;
    letter-spacing: 1px;
}

/*  RESPONSIVIDADE */

@media screen  and (min-width: 768px) {
    .hero, .sobre,
    .atuacoes, .equipe,
    .contato {
        width: 100%;
        padding: 40px 4%;
    }
    .hero-container {
        flex-direction: column-reverse;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .image-escritorio{
        margin: 0 auto;

        &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
        }
    }
    .titulo-sobre {
        margin-top: 80px;
    }
    .sobre {
        padding-bottom: 60px;
    }
    .equipe-conteudo {
        align-items: normal;
    }
    .equipe-conteudo, .btn {
        width: 100%;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .footer-conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: 30px 0;
    }
}
    
@media screen and (min-width: 1024px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        position: sticky;
        gap: 0;
        width: auto;
        padding: 0;
        background-color: transparent;
    }
    .menu-item {
        width: auto;
        padding: 5px 15px;
    }
    .menu-item:hover {
        background-color: var(--color-primary-03);
        color: var(--color-primary-04);
    }
    .btn-mobile {
        display: none;
    }
    .btn {
        width: 300px;
    }
    .hero-container, .sobre-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    }
    .hero-conteudo {
        width: 65%;
        align-items: flex-start;

        & h1, p {
            text-align: left;
            width: 540px;
        }
    }
    .image-escritorio {
        padding: 0;

        &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
        }
    }
    .sobre-imagem {
            width: 50%;
            padding: 0;
        }
    .sobre-conteudo {
            gap: 0;
        }
    .descricao-sobre {
        margin-bottom: 15px;
    }
    .equipe-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 15px;
    }
    .equipe-conteudo {
        align-items: flex-start;

        & h3 {
            width: 300px;
        }
        & p {
            width: 430px;
        }
    }
    .equipe-imagem {
        width: 80%;
    }
    .grid-equipe {
        height: 400px;
    }
    .grid-imagen {
        border-radius: 20px;
    }
    .grid-imagen img {
        object-fit: cover;
        object-position: top center;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .contato-conteudo {
        margin: auto;
        width: 600px;
    }
    .contato-info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 80px;
    }
    .lista-contato, .form-contato{
        margin: 0;
        width: 50%;
    }
        .contato-info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 80px;
        gap: 100px;
        }
}
@media screen and (min-width: 1200px) {

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: sticky;
        padding: 0;
        background-color: transparent;
    }
    .btn-mobile {
        display: none;
    }
    .hero-container, .sobre-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    }
    .hero-conteudo {
        width: 50%;
        align-items: flex-start;

        & h1, p{
            text-align: left;
        }
    }
    .image-escritorio {
        margin: 0 auto;

        &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
        }
    }
    .equipe-container {
        display: grid;
        flex-direction: row-reverse;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 4rem;
        margin-top: 60px;
        margin-bottom: 4rem;
    }
    
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto;
        gap: 50px 30px;
    }
    .contato-conteudo {
        margin: auto;
        width: 600px;
    }
    .contato-info {
        flex-direction: row;
        align-items: flex-start;
        gap: 150px;
        margin-top: 80px;
    }
    .lista-contato, .form-contato {
        margin: 0 auto;
        width: 50%;
    }
    .footer-conteudo {
        margin-top: 50px;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: self-start;
    }
}